<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrapper">
    <form th:action="@{/my-myBooks}" method="get">
        <!-- Display the list of books -->
        <h2>Welcome <span th:text="${sessionScope.user.name}"></span></h2>
        <h3>Books:</h3>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${userAllBooks}">
                <td th:text="${book.bookName}"></td>
                <td th:text="${book.authorName}"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <div class="web-field">
        <a href="/">Back</a><br>
    </div>
</div>
</body>
</html>