<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>/WEB-INF/login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>registerPage</servlet-name>
        <jsp-file>/WEB-INF/register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerPage</servlet-name>
        <url-pattern>/registerPage</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>userEdit</servlet-name>
        <jsp-file>/WEB-INF/userEdit.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userEdit</servlet-name>
        <url-pattern>/userEdit</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>adminPage</servlet-name>-->
<!--        <jsp-file>/WEB-INF/admin.jsp</jsp-file>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>adminPage</servlet-name>-->
<!--        <url-pattern>/adminPage</url-pattern>-->
<!--    </servlet-mapping>-->


    <servlet>
        <servlet-name>error403</servlet-name>
        <jsp-file>/WEB-INF/error_403.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>error403</servlet-name>
        <url-pattern>/error_403</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dashboard</servlet-name>
        <jsp-file>/WEB-INF/userdashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>usersList</servlet-name>
        <jsp-file>/WEB-INF/showUsersList.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>usersList</servlet-name>
        <url-pattern>/usersList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>booksList</servlet-name>
        <jsp-file>/WEB-INF/showBooksList.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>booksList</servlet-name>
        <url-pattern>/booksList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>assignedBooks</servlet-name>
        <jsp-file>/WEB-INF/assignedBooks.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>assignedBooks</servlet-name>
        <url-pattern>/assignedBooks</url-pattern>
    </servlet-mapping>



    <error-page>
        <location>/WEB-INF/error_404.jsp</location>
        <error-code>404</error-code>
    </error-page>


<!--    <filter>-->
<!--        <filter-name>CollectDataFilter</filter-name>-->
<!--        <filter-class>com.epam.library.filter.CollectDataFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>CollectDataFilter</filter-name>-->
<!--        <url-pattern>/admin</url-pattern>-->
<!--        <url-pattern>/adminPage</url-pattern>-->
<!--    </filter-mapping>-->
</web-app>
