<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>registerPage</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>registerPage</servlet-name>
    <url-pattern>/registerPage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dashboard</servlet-name>
    <jsp-file>/userdashboard.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>adminPage</servlet-name>
    <jsp-file>/admin.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>adminPage</servlet-name>
    <url-pattern>/adminPage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>usersPage</servlet-name>
    <jsp-file>/usersList.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>usersPage</servlet-name>
    <url-pattern>/usersPage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>error403</servlet-name>
    <jsp-file>/error_403.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>error403</servlet-name>
    <url-pattern>/error403</url-pattern>
  </servlet-mapping>

  <error-page>
    <location>/error_404.jsp</location>
    <error-code>404</error-code>
  </error-page>

  <error-page>
    <location>/error_403.jsp</location>
    <error-code>403</error-code>
  </error-page>


</web-app>
